body {
    color: black
}

/* - - - - - - - - - - - - - - - farba buttonu po potvrdeni udajov - - -  */
.btn-saved {
    background-color: green;
    color: white;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */