body {
    color: black
}

/* - - - - - - - - - - - - - - - farba buttonu po potvrdeni udajov - - -  */
.btn-natipovane {
    background-color: green !important;
    color: white;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */