
.tabulka p {
  text-align: center !important;
  font-weight: 900;
  font-size: 45px;
  margin-top: 40px;
}

/* - - - - - - Tabulka2 - - - - - - - - -  */

.tabulka2 table {
  width: 50%; /* Zvýšená šírka pre lepšiu viditeľnosť */
  border-collapse: collapse;
  margin: 40px auto; /* Pridaný odstup zhora aj zdola a vycentrovanie */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Jemný tieň pre zvýraznenie tabuľky */
  border-radius: 10px; /* Zaoblené rohy tabuľky */
  overflow: hidden; /* Skrátenie obsahu presahujúceho rám */
  margin-bottom: 3em;
}

th, td {
  padding: 10px; /* Zvýšený padding pre lepšiu čitateľnosť */
  text-align: left;
  color: #000; /* Nastavenie čiernej farby textu */
}

.tabulka2 table td:first-child,
.tabulka2 table th:first-child {
  padding-left: 20px; /* Nastavenie vnútorného okraja pre prvý stĺpec */
}

thead th {
  background-color: #FFD700; /* Zlatá farba pre hlavičku tabuľky */
  color: #000; /* Čierny text pre kontrast */
  font-weight: bold;
  text-transform: uppercase; /* Zvýraznenie hlavičiek veľkými písmenami */
}

tbody tr {
  background-color: #ffffff; /* Biela farba pre všetky riadky tela tabuľky */
}

.tabulka2 p {
  margin: 20px 0; /* Zachovaný odstup nad a pod odstavcom */
  font-style: italic; /* Jemne zvýraznený text */
  text-align: center; /* Zarovnanie textu na stred */
}





/* - - - - - - - - - - - - - - - - - - - - MACBOOK - - - - - - - - - - - - - - - */
@media (min-width: 993px) {

  /* - - - textove pole + buttons - - - */
  .button-back-container{
    margin: 0 auto;
    width: 400px;
  }

  #load-file-btn {
      width: 400px;
      margin: 0 auto;

  }

  #file-content{
    font-size: 17px !important;
    width: 800px;
    align-items: center;
    margin: 0 auto;
    height: 350px !important;
  }

/* - - - - VYSLEDNA TABULKA - - - - */
.vysledna_tabulka {
  width: 900px !important;
  align-items: center;
  margin: 0 auto !important;
  padding-bottom: 30px !important;
}

.vysledna_tabulka .table {
  margin: 0 auto !important;
  width: 900px !important;
  border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden; 
}

 .vysledna_tabulka p {
  font-size: 25px !important;
}

.vysledna_tabulka .table td {
  text-align: center;
  font-weight: 250;
  font-size: 20px !important;
  padding-left: 30px;
  padding-right: 30px;
}

/* - - - - - - -TABULKA - - - - -  */

.tabulka .table {
  margin: 0 auto !important;
  width: 900px !important;
  border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden; 
 }
 
 .tabulka .table td {
  text-align: center;
  font-weight: 250;
  font-size: 15px !important;
  padding-left: 30px;
  padding-right: 30px;
 }
 
 .tabulka .guess_area .form-control{
   font-size: 13px !important; 
 }
 
 .tabulka {
   margin: 10px;
   margin-top: 10px;
   margin-right: 50px;
 }
 
 .small-width{
   width: 0px;
 }
 
 .medium-width{
   width: 20px;
 }
 
 .guess_area{
   width: 200px !important;
 }
 
 .guess_button{
 width: 200px !important;
 }
 
 .guess_input {
   width: 200px !important;
 }


.carousel-wrapper {
  border: 3px solid gold;
  position: relative;
  margin-right: 200px !important;
  margin-left: 200px !important;
  margin-bottom: 50px !important;
}


}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


body {
    color: black
}

body {
    color: white;
    background-color: #10162F;
    filter: brightness(80%);
}

/* - - - - - - NAVBAR - - - - - - - - -  */
.navbar {
  background-color: #f8f9fa; /* Vaša preferovaná farba */
  background: transparent;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 1.3em;
}

.navbar-brand {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

/*.navbar-nav .nav-link:not(:first-child) {
  margin-left: 1em; 
}*/


/* - - - - - - - - - - - - - - - farba buttonu po potvrdeni udajov - - -  */
.btn-natipovane {
    background-color: green !important;
    color: white;
}
/* - - - - - - - - - - - - - - - BUTTONS - - - - - - - - - - - - - - - - - - -  */

.button-back{
    margin-top: 20px !important;
    background-color: #f8f9fa;
    color: black;
    margin: 0 auto;
    width: 240px;
}

#load-file-btn {
  width: 240px;
  margin: 0 auto;

}

.button-back:hover{
    background-color: gold;
    color: black;
}

.button-other-matches{
    background-color: #f8f9fa;
    color: black;
}

.button-other-matches:hover{
    background-color: gold;
    color: black;
}

.next-button{
  margin: 0 auto;
  width: 220px;
}

.previous-button{
  margin: 0 auto;
  width: 220px;
}

/* Štýly pre textarea */
.text-area{
  width: 350px;
  margin-left: 20px;
}

#file-content {
    font-size: 10px; 
    background-color: #f8f9fa; 
    color: black; 
    padding: 10px;
    height: 200px;
    font-weight: 200;
}


.title-container {
  text-align: center;
  margin: 20px;
  border: #10162F 1px solid;
}


/* - - - - - - -TABULKA - - - - -  */

.tabulka .table {
 margin: 0 20px;
 height: 200px;
 border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden; 

}

.tabulka .table td {
  font-size: 15px;  
  text-align: center;
}

.tabulka .table tr {
  border: #10162F 3px solid;
  margin: 5px;
  
}

.tabulka .guess_area .form-control{
  font-size: 15px; 
}

.tabulka {
  margin: 10px;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 4em;
}

.small-width{
  width: 0px;
}

.medium-width{
  width: 20px;
}

.guess_area{
  width: 100px;
}

.guess_button{
width: 105px;
}

.guess_input {
  width: 105px;
}

/* - - - - VYSLEDNA TABULKA - - - - */
.vysledna_tabulka {
  margin: 10px;
  margin-top: 10px;
  margin-right: 50px;
  font-size: 10px;
  padding-bottom: 20px;
}

.vysledna_tabulka .table {
  margin: 0 20px;
  font-weight: 200;
  border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden; 
 }

 .vysledna_tabulka p {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f8f9fa;
  color: black;
  width: 50%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.vysledna_tabulka .table td {
  text-align: center;
  font-size: 10px;
}


/* -- - - CAROUSEL - - - */
.carousel-superhrdina {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 50px;
}


.carousel-wrapper {
  border: 3px solid gold;
  position: relative;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px; /* Šírka šípok */
  height: 50px; /* Výška šípok */
  background-color: rgba(0, 0, 0, 0.5); /* Polopriehľadné pozadie šípok */
  border-radius: 50%; /* Zaoblené rohy šípok */
  border: 2px solid #fff; /* Biele orámovanie šípok */
  margin: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 35px; /* Veľkosť ikon šípok */
  height: 35px; /* Veľkosť ikon šípok */
  background-size: 100%, 100%; /* Veľkosť ikon, aby sa zväčšili */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: gold  ;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg>'); /* SVG ikona pre predchádzajúcu šípku */
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 16 16"><path d="M4.5 14.5L12 8 4.5 1.5"/></svg>'); /* SVG ikona pre nasledujúcu šípku */
}


