body {
    background-color: #10162F;
    filter: brightness(80%);
}

/* - - - - - - NAVBAR - - - - - - - - -  */
.navbar {
  background-color: #f8f9fa; /* Vaša preferovaná farba */
  background: transparent;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 1.3em;
}

.navbar-brand {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-nav .nav-link:not(:first-child) {
  margin-left: 1em; 
}


/* - - - - - - uvod - - - - - - */
.uvod {
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.uvod h1 {
    font-size: 38px;
    font-weight: bold;
}


.logo {
    width: 130px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
}

/* - - - - - -  LOGIN - - - - - - */
.login_container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.login_container h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.login_container button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #10162F;
  border-radius: 30px;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  -ms-border-radius: 30;
  -o-border-radius: 30;
}

/* - - - - - - - - -  - - - - - - */


/* -------------------------------Štýly pre profil používateľa-------------------------- */
#user-profile {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

#user-profile .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
}

#user-profile .dropdown-menu a {
  color: #333;
}

#user-profile .dropdown-menu a:hover {
  background-color: #f8f9fa;
}

.profile-icon {
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
}

/* Štýly pre login form */
#login-form {
  margin-top: 20px;
}

#login-form label {
  display: block;
  margin: 5px 0;
}

#login-form input {
  margin-bottom: 10px;
}

#login-form button {
  display: block;
  margin-top: 10px;
}
/* --------------------------------------------------------- */
  

.welcome_container h1{
  color: thistle;
    
}
