body {
    background-color: #10162F;
    filter: brightness(80%);
}


/* - - - - - - NAVBAR - - - - - - - - -  */
.navbar {
  background-color: #f8f9fa; /* Vaša preferovaná farba */
  background: transparent;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 1.3em;
}

.navbar-brand {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

/*.navbar-nav .nav-link:not(:first-child) {
  margin-left: 1em; 
}*/


/* - - - - - - uvod - - - - - - */
.uvod {
    color: #f8f9fa;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.uvod h1 {
    font-size: 38px;
    font-weight: bold;
}


.logo {
    width: 130px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
}

/* - - - - - -  LOGIN - - - - - - */
.login_container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    margin: 0 auto;
}

.login_container h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.login_container button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #10162F;
  border-radius: 30px;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  -ms-border-radius: 30;
  -o-border-radius: 30;
}

/* - - - - - - - - - HLASKA PO PRIHLASENI - - - - - - */

.welcome_container {
  text-align: center;
  color: white;
}

/* - - - - - - PROFILOVA FOTKA - - - - - - */
.welcome_container img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* - - - - - - - - - - - - - - - */




/* -------------------------------Štýly pre profil používateľa-------------------------- */


/* Štýly pre login form */
#login-form {
  margin-top: 20px;
}

#login-form label {
  display: block;
  margin: 5px 0;
}

#login-form input {
  margin-bottom: 10px;
}

#login-form button {
  display: block;
  margin-top: 10px;
}

#login-form button {
  color: white;
  width: 120px;

}
/* --------------------------------------------------------- */
  