body {
    background-image: url(images/pozadie.png);
    filter: brightness(80%);
}

h1{
    color: white;
    font-size: 4em;
    text-align: center;
}

/* Zmena farby pozadia navbaru */
.navbar {
    background-color: #f8f9fa; /* Vaša preferovaná farba */
  }

.navbar-nav .nav-link {
    color: black;
    font-size: 1.3em;
  }

  .navbar-brand {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
  }

  .navbar-nav .nav-link:not(:first-child) {
    margin-left: 1em; 
  }

  
  